[general]

disable_messaging=false

web_port=9000

db_host=
db_name=
db_user=
db_password=

twilio_account_sid=0
twilio_auth_token=0
twilio_from_number=0

survey_url=

activeMQTT_user=
activeMQTT_pass=
activeMQTT_host=
activeMQTT_port=
topic_prefix=gateway2.devices
